*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(90deg, #493be6 0%, #071225 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  #FFFFFFFF;
}
h3{
    font-weight: bold;
    text-transform: uppercase;
}
#box-1{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px gray;
    color: #FDBB2D;
}
#btn_copy{
    background: #182848;
    border: none;
}
#btn_copy :hover{
    cursor: pointer;
}
#box-2{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px gray;
}
.password_strength_text{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 12px;

}
#password_length{
    color: #FDBB2D;
    
}
.slider_container {
    width: 100%;
  }
  
  .slider {
    
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
#btn{
    background: linear-gradient(90deg, #493be6 0%, #071225 100%);
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0px 2px 2px 0px white;
    color: white;
    border: none;
}
.copy{
    background-color: white;
}
/*background: linear-gradient(90deg,  0%,  100%);
background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);*/